.space {
  height: 150px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  margin-top: 5px;
  overflow: hidden;
  border: 5px;
  z-index: 5;
  background-color: #0f0f0f;
}

.footLink {
  padding: 10px;
  color: #01B4C6 !important;
  font-weight: bold;
}